.card-container {
    position: relative;
    width: 100%;
    height: auto;
}
  
.card-overlay {
    position: absolute;
    top: 500px;
    left: 30%;
    transform: translate(-50%, -50%);
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%), #FFFFFF; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 560px; 
    height: 300px; 
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 45px; 
    line-height: 100%; 
    letter-spacing: -0.02em; 
    text-transform: capitalize; 
    color: #FFFFFF; 
    flex: none;
    order: 0; 
    flex-grow: 0; 
}

.button {
    background-color: #F28D35; 
    color: #FFFFFF; 
    padding: 0px 20px;
    border: none;
    
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    position: absolute; 
    bottom: 20px; 
    left: 5%; 
}


.button:hover {
    background-color: #e07225; 
}

.image-description-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    margin-left: 200px;
  }
  
  .image-description-container1 img {
    width: 40%;
    height: auto;
    margin-right: 150px; 
  }
  
  .description1 {
    flex: 1;
  }
 

  .image-description-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; 
    margin-left: 150px;
  }
  
  .image-description-container2 img {
    width: 30%;
    height: auto;
    margin-left: 250px; 
  }
  
  .description2 {
    flex: -1;
  }
  


  .collapsible {
    background-color: #FAF8FF;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .active, .collapsible:hover {
    background-color: #FAF8FF;
  }
  
  .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #FAF8FF;
    width: 50%;
    color: #6F6C90;
    text-align: left;
  }
  
  .collapsible.active {
  color: #6B3CC9; 
}



  
.faq-heading {
  color: #5a4daa;
}

.custom-btn {
  background-color: #F28D35;
  color: white;
  border: none;
  padding: 10px 25px;
  
 
}

